///home///

.home-container {
  background-color: white;
  .filter {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    .filter-select {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: end;
      div:nth-child(2) {
        .select {
          width: 100%;
          font-size: 1em;
        }
      }
    }
  }

  .jobs-container-main {
    width: 100%;
    padding: 2em 0 2em 0;

    .jobs-container-inner {
      width: 100%;

      .jobs-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        .jobs-single {
          width: 100%;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          row-gap: 1em;
          padding: 2em 2em 1.5rem 2em;
          position: relative;
          .card-1 {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            .hirings {
              .hiring-01 {
                font-size: 0.7em;
                padding: 0 0.2em 0 0.3em;
              }
            }
            .skills {
              display: flex;
              flex-wrap: wrap;

              .skills-text {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0.1em;
                font-size: 0.8em;
                width: auto;
                height: 2em;
                border: 1px solid rgb(240, 240, 249);
                border-radius: 10px;
                margin-left: 0.5em;
                padding: 0.1em;
                background-color: grey;
                color: white;
              }
            }
          }
          .card-2 {
            display: flex;
            justify-content: end;
            align-items: center;
            .view-job-link {
              .viewjob {
                color: black;
                text-decoration: solid white;
              }
            }
          }
          .random {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5em;
            height: 3.5em;

            border: 1px solid;
            border-radius: 50%;
            color: white;
            
            position: absolute;
            top: 10%;
            right: 10%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  ///home///
  .home-container {
    .filter {
      width: 100%;
      height: 4em;
      display: flex;
      justify-content: flex-end;
      position: sticky;
      .filter-select {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: end;
        div:nth-child(2) {
          select {
            width: 85%;
            font-size: 0.9em;
          }
        }
      }
    }

    .jobs-container-main {
      width: 100%;
      padding: 0.4em 0 1em 0;

      .jobs-container-inner {
        width: 100%;
        padding: 1em;
        .jobs-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2em;

          .jobs-single {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            // border: 1px solid;
            padding: 2em 2em 1.5rem 2em;
            position: relative;
            .card-1 {
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: column;
              .hirings {
     
                .hiring-01 {
                  font-size: 0.7em;
                 
                }
              }
              .skills {
                display: flex;
                flex-wrap: wrap;

                .skills-text {
                  display: flex;
                  flex-wrap: wrap;
                  margin-bottom: 0.1em;
                  font-size: 0.8em;
                  width: auto;
                  height: 2em;
                  border: 1px solid rgb(240, 240, 249);
                  border-radius: 10px;
                  margin-left: 0.5em;
                  padding: 0.1em;
                  background-color: grey;
                  color: white;
                }
              }
            }
            .card-2 {
              display: flex;
              justify-content: end;
              align-items: center;
              .view-job-link {
                .viewjob {
                  color: black;
                  text-decoration: solid rgb(0, 0, 0);
                }
              }
            }
            .random {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 3em;
              height: 3em;

              border: 1px solid;
              border-radius: 50%;
              color: white;
              position: absolute;
              top: 10%;
              right: 10%;
            }
          }
        }
      }
    }
  }
}